image: php:7.0

# Composer stores all downloaded packages in the vendor/ directory.
cache:
  paths:
  - vendor/

before_script:
- bash ci/dockerInstall.sh > /dev/null

variables:
  MYSQL_DATABASE: ettc_tests
  MYSQL_ROOT_PASSWORD: Kaigilohgeifeph5huqu

stages:
  - test
  - deploy

# test on php 7.0 + mariadb 10.1 (debian stretch)
test:php:7.0:
  image: php:7.0
  services:
    - mariadb:10.1
  stage: test
  script:
  - phpunit --coverage-text --colors=never

# test on php 5.6 + mysql 5.5 (debian jessie)
test:php:5.6:
  image: php:5.6
  services:
    - mysql:5.5
  stage: test
  script:
  - sed "s/'testDbHost' => 'mariadb'/'testDbHost' => 'mysql'/" -i conf/config.php
  - phpunit --coverage-text --colors=never

deploy_staging:
  stage: deploy
  script:
    - bash ci/deploy.sh staging
  environment:
    name: staging
    url: https://staging.et.tc
  only:
  - master

deploy_prod:
  stage: deploy
  script:
    - bash ci/deploy.sh production
  environment:
    name: production
    url: https://et.tc
  when: manual
  only:
  - master
