<div class='projectContainer'>
    <div class='date'>
        <span title='Last update'><img src='__PATH_Assets__/images/update.png' alt='U'>__MSG_ProjectUpdateDate__</span>
        <span title='Creation date'><img src='__PATH_Assets__/images/create.png' alt='+'>__MSG_ProjectCreateDate__</span>
        <a style='float: right' href='javascript:void(0)' onclick='deleteProject(__MSG_ProjectId__)'>Delete</a>
        <a style='float: right; margin-right: 5px;' href='__PATH_Root__/EditProject/__MSG_ProjectId__'>Edit</a>
    </div>
    <div class='projectImage' __MSG_ImageDisplay__>
        <img src='__MSG_ProjectImage__' alt=''>
    </div>
    <p>__MSG_ProjectDescription__</p>

    <div class='infoContainer'>

        <div class='changelog'>
            <h3>Changelog</h3>
            <div id='changelogList' class='list'></div>
            <div class='pageContainer'></div>
        </div>


        <div class='links'>
            <h3>Demo</h3>
            <a href='#'>Live version</a><br>
            <a href='#'>Development version</a>

            <h3>Development</h3>
            <a href='#'>Sourcecode</a><br>
            <a href='#'>Api documentation</a><br>
            <a href='#'>Class documentation</a>
        </div>
    </div>

    <!-- JavaScript Templates -->
    <div style='display: none'>
        <div id='templateEntry' class='changelogEntry'>
            <div class='authorAvatar'>
                <img src='__MSG_AuthorAvatar__' alt=''>
            </div>
            <div class='commitInfo'>
                <span class='subject'>__MSG_Subject__</span>
                <span class='author'>__MSG_AuthorName__ commited on __MSG_AuthorDate__</span>
            </div>
        </div>
    </div>

    <script src='__PATH_Assets__/js/project.js'>
    </script>

    <script>
        projectId = __MSG_ProjectId__;
        loadChangelog();
    </script>
</div>
