<div class='projectContainer'>
    <div class='date'>
        <span title='Creation date'><img src='__PATH_Assets__/images/create.png' alt='+'>__MSG_ProjectCreateDate__</span>
        <span title='Last update'><img src='__PATH_Assets__/images/update.png' alt='U'>__MSG_ProjectUpdateDate__</span>
    </div>
    <img src='__MSG_ProjectImage__' alt='' class='projectImage'>
    <p>__MSG_ProjectDescription__</p>

    <div class='infoContainer'>

        <div class='changelog'>
            <h3>Changelog</h3>
            <fieldset>
                <legend>Author: Jan Houben 06.12.2016 23:32</legend> added api key ui</fieldset>
            <fieldset>
                <legend>Author: Jan Houben 06.12.2016 22:46</legend> save song title and artist string in db</fieldset>
            <fieldset>
                <legend>Author: Jan Houben 05.12.2016 17:33</legend> fixed unit tests</fieldset>
            <fieldset>
                <legend>Author: Jan Houben 17.09.2016 23:17</legend> updated todo</fieldset>
            <fieldset>
                <legend>Author: Jan Houben 17.09.2016 23:05</legend> YouTube Videos will now get saved in Database</fieldset>
        </div>

        <div class='links'>
            <h3>Demo</h3>
            <a href='#'>Live version</a><br>
            <a href='#'>Development version</a>

            <h3>Development</h3>
            <a href='#'>Sourcecode</a><br>
            <a href='#'>Api documentation</a><br>
            <a href='#'>Class documentation</a>
        </div>
    </div>
</div>
