<div class='head'>Profile</div>

<div class='content'>

    <div class='description'>You can change your public profile here</div>

    <form action='#' method='POST'>
        <div class='wrapper'>
            <div class='flex1'>
                <div class='form_group'>
                    <label>Name</label><input type='text' name='name' value=''>
                </div>
                <div class='form_group'>
                    <label>Website</label><input type='url' name='website' value=''>
                </div>
                <div class='form_group'>
                    <label>Info</label><textarea name='info'></textarea>
                </div>
            </div>

            <div class='flex2'>
                <div class='avatar_wrapper'>
                    <img src='__MSG_AvatarUrl__' alt=''>
                    <span>You can change your avatar on <a href='http://gravatar.com' target='_blank'>http://gravatar.com</a></span>
                </div>
            </div>
        </div>

        <div class='save'>
            <input type='submit' value='Speichern' name='change_profile'>
        </div>
    </form>

</div>
