RedirectMatch 403 /\.git
AddDefaultCharset utf-8
RewriteEngine on

# if file exists
RewriteCond %{REQUEST_FILENAME} -s
# return that file
RewriteRule ^.*$ - [NC,L]

# else...
RewriteRule api/ api.php [L]
RewriteRule ^(.+)$ index.php?page=$1 [L]



Options -Indexes -Multiviews
