#settings_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.second_nav {
    width: 200px;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.second_nav ul {
    padding: 0px;
    margin: 0;
    list-style: none;
}

.second_nav .admin {
    margin-top: 20px;
}

.second_nav ul li {
    text-align: center;
    background: #fff;
}

.second_nav ul .head {
    background: #eee;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.second_nav .admin .head {
    background: #f2a9a9;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgba(242, 169, 169, 0.5);
}

.second_nav ul li a, .second_nav ul li span {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    line-height: 40px;
}

.second_nav .admin li a, .second_nav .admin li span {
    border-bottom: 1px solid rgba(242, 169, 169, 0.5);
    border-left: 1px solid rgba(242, 169, 169, 0.5);
    border-right: 1px solid rgba(242, 169, 169, 0.5);
}

.second_nav ul li .selected {
    border-left: 2px solid #1296bc;
    color: #1296bc;
    font-size: 15px;
}

.second_nav .admin li .selected {
    border-left: 2px solid #f26262;
    color: #f26262;
    font-size: 15px;
}

.second_nav ul li a:hover {
    background: rgba(0, 0, 0, 0.02);
    text-decoration: none !important;
}

#settings_tab {
    margin: 0;
    width: 50%;
    flex-grow: 2;
}

#settings_tab .head {
    background: #eee;
    padding: 5px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}

#settings_tab .content {
    padding: 10px !important;
    padding-top: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}

#settings_tab .content .description {
    margin-bottom: 20px;
}

#settings_tab .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#settings_tab .wrapper .flex1, #settings_tab .wrapper .flex2 {
    margin: 0px;
    width: 40%;
    flex-grow: 2;
}

#settings_tab .wrapper .flex1 {
    min-width: 200px;
    margin-right: 30px;
}

#settings_tab .wrapper .flex2 {
    margin: 0px;
}

#settings_tab .wrapper .flex2 img {
    width: 30%;
    display: block;
    margin: 0px auto;
}

#settings_tab .wrapper .flex2 span {
    display: block;
    width: 80%;
    margin: 20px auto auto auto;
    text-align: center;
}

#settings_tab .avatar_wrapper {
    margin: 0px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    height: auto;
    padding: 20px;
}

@media (max-width:550px) {
    .second_nav {
        width: 100%;
        margin-right: 0px;
    }
}
