.list {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.list .entry {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 50px;
    width: 32%;
    min-height: 150px;
    text-align: left;
    background: white;
    vertical-align: top;
    position: relative;
}

.list .entry:nth-child(3n+3) {
    margin-right: 0px;
}

.list .entry .image {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list h3 b {
    color: black;
}

.list .entry .image img {
    height: 100px;
    max-width: 100%;
    display: block;
    margin: 50px auto;
}

.list .entry .text {
    display: block;
    font-size: 15px;
    padding: 10px;
}

.list .entry .text h3 {
    font-size: 15px;
    margin: 0px 0px 5px 0px;
}

.list .entry .hiddenText {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    background: #eee;
    opacity: 0;
    padding: 20px;
    min-width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.list .entry a:hover {
    text-decoration: none !important;
}

.list .entry a:hover .hiddenText {
    opacity: 0.9;
}

.list .entry .date {
    float: right;
    font-size: 12px;
    color: #6a6a6a;
}

.list .entry .date img {
    margin-right: 2px;
    margin-left: 7px;
    height: 8px;
}

.pageContainer {
    margin: 5px 0px;
}

.pageContainer a {
    color: #838282;
    cursor: pointer;
    font-size: 14px;
}

.pageContainer .active {
    color: #484848 !important;
    text-decoration: none !important;
    cursor: auto !important;
}

@media (max-width:780px) {
    .list .entry {
        margin-right: 0px;
        margin-bottom: 30px;
        width: 100%;
    }
    .list .entry {
        min-height: 100px;
    }
    .list .entry .image img {
        height: 50px;
        margin: 30px auto;
    }
    .list .entry .hiddenText {
        padding: 5px;
    }
}
