.projectContainer {
    width: 100%;
    overflow: hidden;
}

.projectContainer .projectImage {
    width: 100%;
}

.projectContainer .date {
    margin-bottom: 20px;
    font-size: 12px;
    color: #6a6a6a;
}

.projectContainer .date img {
    margin-right: 2px;
    height: 8px;
}

.projectContainer .date span:last-child {
    margin-left: 7px;
}

.projectContainer .infoContainer {
    display: flex;
    justify-content: space-between;
    margin: 0px -25px;
}

.projectContainer .links {
    margin: 0px 25px;
}

.projectContainer .changelog {
    flex-grow: 2;
    margin: 0px 25px;
}

.projectContainer .changelog img {
    height: 15px;
}

@media (max-width:780px) {
    .projectContainer .infoContainer {
        flex-wrap: wrap;
    }
}
