.projectContainer {
    width: 100%;
    overflow: hidden;
}

.projectContainer .projectImage {
    width: 100%;
}

.projectContainer .projectImage img {
    max-height: 200px;
}

.projectContainer .date {
    margin-bottom: 20px;
    font-size: 12px;
    color: #6a6a6a;
}

.projectContainer .date img {
    margin-right: 2px;
    height: 8px;
}

.projectContainer .date span:last-child {
    margin-left: 7px;
}

.projectContainer .infoContainer {
    display: flex;
    justify-content: space-between;
    margin: 0px -25px;
}

.projectContainer .links {
    margin: 0px 25px;
    margin-bottom: 40px;
}

.projectContainer .changelog {
    flex-grow: 2;
    margin: 0px 25px;
    background: #ffffff;
    padding: 0px 10px;
}

.projectContainer .changelog .changelogEntry {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 8px 0px 2px;
    font-size: 14px;
}

.projectContainer .changelog .changelogEntry:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projectContainer .changelog .changelogEntry .authorAvatar {
    margin-right: 10px;
}

.projectContainer .changelog .changelogEntry .commitInfo .subject {
    display: block;
    font-weight: bold;
}

.projectContainer .changelog img {
    height: 35px;
}

@media (max-width:780px) {
    .projectContainer .infoContainer {
        flex-wrap: wrap-reverse;
    }
}
