<nav id='main_nav' class='simple_nav'>
    <ul id='main_nav_full'>
        <li class='header'>
            <a href='__PATH_Root__/'><img src='__PATH_Assets__/images/favicon_old5.svg' alt='et.tc'></a>
        </li>
        __NAV_Entries__ __VIEW_UserNav__
    </ul>
    <ul id='main_nav_min'>
        <li class='header'>
            <a href='$path/'><img src='__PATH_Assets__/images/favicon_old5.svg' alt='et.tc'></a>
        </li>

        <li class='right_li' id='menu'><img src='__PATH_Assets__/images/menu.png' alt='Menu' onclick='menu()'></li>
        __VIEW_UserNav__
    </ul>
    <ul id='min_menu_entries'>
        __NAV_Entries__
    </ul>

</nav>
