<div class='form_text'>
    Edit
</div>
<form action='#' method='POST' class='contained_form' enctype="multipart/form-data">
    __MSG_message__
    <div class='form_group'>
        <label>Title</label><input type='text' name='title' required='required' value='__MSG_ProjectTitle__'>
    </div>
    <div class='form_group'>
        <label>Description</label><input type='text' name='description' required='required' value='__MSG_ProjectDescription__'>
    </div>
    <div class='form_group'>
        <label>Image</label><br><a href='javascript:void(0)' onclick='deleteProjectImage(__MSG_ProjectId__)'>Delete current image</a><br><img id='projectImage' src='__MSG_ProjectImage__' style='max-height: 100px;'><input type='file' name='image'>
    </div>

    <div class='save'><input type='submit' value='Update' name='update'></div>

</form>

<script>
    var xhttp = new XMLHttpRequest();

    function deleteProjectImage(id) {
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                var answer = JSON.parse(this.responseText);
                if (answer['error'] !== undefined)
                    alert("Error: " + answer['error']);
                else {
                    document.getElementById('projectImage').src = answer['project']['image'];
                }
            }
        };
        xhttp.open("POST", path + "/api/v1/project/update/" + id, true);
        xhttp.setRequestHeader('Accept', 'application/json');
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("deleteImage=true");
    }
</script>
