<div class='form_text'>
    Edit
</div>
<form action='#' method='POST' class='contained_form' enctype="multipart/form-data">
    __MSG_message__
    <div class='form_group'>
        <label>Title</label><input type='text' name='title' required='required' value='__MSG_ProjectTitle__'>
    </div>
    <div class='form_group'>
        <label>Description</label><input type='text' name='description' required='required' value='__MSG_ProjectDescription__'>
    </div>
    <div class='form_group'>
        <label>Image</label><br><a href='javascript:void(0)' onclick='deleteProjectImage(__MSG_ProjectId__)'>Delete current image</a><br><img id='projectImage' src='__MSG_ProjectImage__' style='max-height: 100px;'><input type='file' name='image'>
    </div>
    <div class='form_group'>
        <label>Creation date</label><input type='datetime-local' name='createDate' value='__MSG_ProjectCreateDate__'>
        <a href='javascript:void(0)' id='gitCreateDateLink' onclick='setCreateDateGit()'>use git value</a>
    </div>
    <div class='form_group'>
        <label>Update date</label><input type='datetime-local' name='updateDate' value='__MSG_ProjectUpdateDate__'>
        <a href='javascript:void(0)' id='gitUpdateDateLink' onclick='setUpdateDateGit()'>use git value</a>
    </div>

    <div class='save'><input type='submit' value='Update' name='update'></div>

</form>


<script src='__PATH_Assets__/js/editProject.js'></script>

<script>
    var createDate = "__MSG_ProjectGitCreateDate__";
    var updateDate = "__MSG_ProjectGitUpdateDate__";
    initEditProject();
</script>
