<div class='form_text'>Welcome back to et.tc. Please fill out the following form, to log in.</div>
<form action='#' method='POST' class='contained_form'>
    __MSG_message__
	<div class='form_group'>
		<label>Nickname</label><input type='text' name='nickname' required='required'>
	</div>
	<div class='form_group'>
		<label>Password</label><input type='password' name='password' required='required'>
	</div>

	<!--<div class='form_group'>
		<input type='checkbox' name='autologin' value='enabled'> <label>Auto Login</label>
	</div>-->

	<div class='save'><input type='submit' value='Login' name='login'></div>

</form>
