<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>__MSG_PageTitle__ - et.tc</title>
    <link rel='stylesheet' type='text/css' href='__PATH_Assets__/css/layout.css'>
    <link rel='stylesheet' type='text/css' href='__PATH_Assets__/css/login_register.css'>
    <link rel='stylesheet' type='text/css' href='__PATH_Assets__/css/list.css'>

    <meta name='viewport' content='width=device-width, user-scalable=no'>
    <link rel='icon' type='image/png' href='__PATH_Assets__/images/favicon_old5.png'>
    <script type='text/javascript'>
        var path = '__PATH_Root__';
    </script>
    <script type='text/javascript' src='__PATH_Assets__/js/layout.js'></script>
    <script type='text/javascript' src='__PATH_Assets__/js/list.js'></script>
</head>

<body>
    <div id='main_nav_container'>
        __VIEW_MainNav__
    </div>

    <div id='content_wrapper'>
        <div id='title_wrapper'>
            <div id='title' class='main' style='min-height: auto;'>
                <header id='title_head' class='content'>
                    <h1>__MSG_PageHeading__</h1> __MSG_PageSubHeading__
                </header>
            </div>
        </div>

        <div class='main'>

            <div class='content'>
                __VIEW_Page__
            </div>
        </div>

        <footer>
            <nav class='simple_nav'>
                <ul>
                    <li><a href='__PATH_Root__/About'>About et.tc</a></li>

                    <li class='right_li'><a class='active'>&copy; __MSG_CurrentYear__ et.tc</a></li>
                </ul>
            </nav>
        </footer>

    </div>
</body>

</html>
